/*        
 *   ////////////////////
 *        INDEX.HTML
 *       MEDIA QUERIES
*/

/*        
 *   ////////////////////
 *        INDEX.HTML
 *    INTRO SECTION START
 *       MEDIA QUERIES
*/

//Ipad Portrait Query
@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  #intro .container-fluid .hero-text h1 {
    text-indent: 50px !important;
    font-weight: 200 !important;
    letter-spacing: 50px !important;
    font-size: 45px !important;
    line-height: 82px;
    opacity: 0 !important;
  }

  #intro .container-fluid .hero-text h4 {
    font-weight: 200;
    letter-spacing: 7px !important;
    opacity: 0;
  }
}

//Ipad Landscape Query
@media only screen and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  #intro .container-fluid .hero-text h1 {
    text-indent: 50px !important;
    font-weight: 200 !important;
    letter-spacing: 50px !important;
    font-size: 45px !important;
    line-height: 82px;
    opacity: 0 !important;
  }

  #intro .container-fluid .hero-text h4 {
    font-weight: 200;
    letter-spacing: 7px !important;
    opacity: 0;
  }
}

/*        
 *        INDEX.HTML
 *    INTRO SECTION END
 *       MEDIA QUERIES
 *   ////////////////////
*/

/*        
 *   ////////////////////
 *        INDEX.HTML
 *    NEWS SECTION START
 *       MEDIA QUERIES
*/



@media (min-width: 2590px) {
  #news .news-side .news-side-item {
    padding-top: 10px;
    padding-bottom: 5px;
    height: 420px !important;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
  #twitter-container-2 {
    //display: block !important;
    display: block !important;
  }

  #twitter-container {
    display: none !important;
  }

  .news-side {
    display: none;
  }

  #realmlist .card-container .asc-card {
    width: 309px !important;
    height: 435px !important;
  }

  #realmlist .card-container .asc-card .card-desc h3 {
    color: #ffe4c7;
    font-weight: bold;
    font-size: 26px !important;
    line-height: 0.5;
    text-shadow: 2px 2px 4px #000;
  }

  #realmlist .card-container .asc-card .card-desc h4 {
    font-size: 1.2rem;
  }
}

//Hides Sidebar
@media (max-width: 1200px) and (min-width: 1100px) {
  .news-side {
    display: none;
  }

  #twitter-container {
    display: none;
  }

  .alt-news {
    display: block !important;
  }
}

//Medium sized laptops
@media (max-width: 1400px) and (max-height: 799px) {
  #twitter-container {
    display: none;
  }

  #twitter-container-2 {
    display: block;
  }
}

@media (orientation: landscape) {
  .tablet-flip,
  .tablet-flip-header {
    display: none !important;
  }
}

@media (orientation: portrait) {
  .tablet-flip {
    margin-bottom: 80px !important;
    margin-left: -80px;
  }

  .tablet-flip-header {
    color: $primary-color;
    margin: 50px 0;
  }

  .card-container {
    //display: none !important;
  }

  .slick-track {
    margin: 0 auto !important;
  }

  .asc-card {
    width: 309px !important;
    height: 435px !important;
    position: relative;
    display: block !important;
    flex-direction: none;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(26, 26, 26);
    background-clip: border-box;
    border: 1px solid $primary-color;
    border-radius: 0.25rem;
    margin: auto !important;
    overflow: hidden;
    box-shadow: 0 0 1px 0px $primary-color inset, 0 0 1px 0px $primary-color; //Anti-aliasing on borders.
    transition: box-shadow 0.3s ease-in-out;
    -moz-box-shadow: 0 0 20px $transparent;
    -webkit-box-shadow: 0 0 20px $transparent;
    box-shadow: 0px 0px 20px $transparent;

    img {
      height: 100%;
      width: 100%;
    }

    .card-desc {
      z-index: 10;
      width: 100%;
      bottom: 40px;
      font-family: $font-stack;
      display: block;
      position: absolute;

      h3 {
        color: $secondary-color;
        font-weight: bold;
        font-size: 30px;
        line-height: 0.5;
        text-shadow: 2px 2px 4px #000;
      }
      h4 {
        color: white;
        opacity: 0.6;
      }
    }
  }
}

//Ipad Portrait Query
@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .news-side {
    display: none;
  }

  #twitter-container {
    display: none;
  }

  .news-item-bottom {
    display: none !important;
  }

  .alt-news-large {
    display: block !important;
  }

  #realmlist .card-container .asc-card {
    width: 309px !important;
    height: 435px !important;
  }

  #realmlist .card-container .asc-card .card-desc h3 {
    color: #ffe4c7;
    font-weight: bold;
    font-size: 26px !important;
    line-height: 0.5;
    text-shadow: 2px 2px 4px #000;
  }

  #realmlist .card-container .asc-card .card-desc h4 {
    font-size: 1.2rem;
  }
}

//Ipad Landscape Query
@media only screen and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  .news-side {
    display: none;
  }

  #twitter-container {
    display: none;
  }

  #twitter-container-2 {
    display: block;
  }

  #realmlist .card-container .asc-card {
    width: 278px !important;
    height: 391px !important;
  }

  #realmlist .card-container .asc-card .card-desc h3 {
    color: #ffe4c7;
    font-weight: bold;
    font-size: 22px !important;
    line-height: 0.5;
    text-shadow: 2px 2px 4px #000;
  }

  #realmlist .card-container .asc-card .card-desc h4 {
    font-size: 1.2rem;
  }
}

//Ipad Pro Portrait Query
@media only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .news-side {
    display: none;
  }

  #twitter-container {
    display: none;
  }

  .news-item-bottom {
    display: none !important;
  }

  .alt-news-large {
    display: block !important;
  }

  #realmlist .card-container .asc-card {
    width: 309px !important;
    height: 435px !important;
  }

  #realmlist .card-container .asc-card .card-desc h3 {
    color: #ffe4c7;
    font-weight: bold;
    font-size: 26px !important;
    line-height: 0.5;
    text-shadow: 2px 2px 4px #000;
  }

  #realmlist .card-container .asc-card .card-desc h4 {
    font-size: 1.2rem;
  }
}

//Ipad Pro Landscape Query
@media only screen and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
  .news-side {
    display: none;
  }

  #twitter-container {
    display: block !important;
  }

  #twitter-container-2 {
    display: none !important;
  }

  .alt-news {
    display: block !important;
  }

  #realmlist .card-container .asc-card .card-desc h3 {
    color: #ffe4c7;
    font-weight: bold;
    line-height: 0.5;
    text-shadow: 2px 2px 4px #000;
  }

  #realmlist .card-container .asc-card .card-desc h4 {
    font-size: 1.5rem;
  }
}
/*        
 *        INDEX.HTML
 *     NEWS SECTION END
 *       MEDIA QUERIES
  *   ////////////////////
*/

/*        
 *        INDEX.HTML
 *       MEDIA QUERIES 
 *           END
  *   ////////////////////
*/
