#twitter-container {
  overflow: hidden;

  .timeline-ShowMoreButton {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 0;
    margin: 0 0 20px 0;
    width: 155px;
    font-size: 14px;
    color: red !important;
    text-align: center;
    background-color: red !important;
    border: 1px solid red !important;
    border-radius: 100px;
    outline: 0;
    cursor: pointer;
  }
}

.timeline-Widget {
  max-width: 1200px;
  background-color: rgb(217, 229, 236) !important;
  background-image: url("../media/image/index/grunge_bg.jpg") !important;
  background-size: cover;
  border-radius: 5px;
}
