@import "../base/align";
//Header Nav bar Styles

header{
  .navbar{
    height: 52px !important;
    background-color: #121212;
    background-size: cover;
    border-bottom: 2px solid #262626;
    overflow: hidden;

    .navbar-brand{
      left: 1rem;
    }

    .navbar-items{
      z-index: 9999;
    }

    .navbar-user{
      position: absolute;
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: end;
      border-left: 2px solid #262626;
    }
  }

  .navbar-expand-lg{
    .navbar-brand{
      position: absolute;
    }

    .navbar-nav{
      height: 100%;
      .nav-item{
        height: 100%;
        -webkit-transition: all linear .3s;
        transition: all linear .3s;

        .nav-link{
          padding: 0em 1.5em !important;
          line-height: 48px !important;
          font-size: 14px !important;
          font-family: "Beaufort", "Segoe UI", Helvetica, sans-serif !important;
          font-weight: bold;
          @include transition(color 2s cubic-bezier(0.06, 0.81, 0, 0.98) !important);
          color: #c9aa71;

          &:hover{
            color: white !important;
          }
        }

        .active{
          border-bottom: 2px solid transparent;
          border-color: #e7bd63;
        }

        .user-info{
          color: #c9aa71;
          padding-top: 10px;
          height: 52px !important;
          line-height: 30px !important;
          //border-left: 2px solid #262626;
          //padding-left: 1rem;
          padding-left: 0rem;

          .user-price-icon{
            height: 15px;
            margin-right: 5px;
          }

          .user-dp{
            line-height: 14px;
            font-size: 14px;
          }

          .user-name{
            line-height: 16px !important;
            font-size: 16px;
            margin-right: 10px;
            font-family: "Beaufort", "Segoe UI", Helvetica, sans-serif !important;
            font-weight: bold;
            margin-bottom: 4px;
            color: #f1e6cf;
          }
        }
      }

      .nav-item.cartbtn{
        margin-top: auto;
        margin-bottom: auto;
        margin-top: 14px;
        a{
          line-height: 22px !important;
          vertical-align: middle !important;
        }
      }
    }
  }
}

/**
 * User Media Query
 */
@media (min-width: 1200px) {
  .hidden-lg-up{
    display: none!important;
  }

  #hover-assistant {
    background-color: transparent;
    position: fixed;
    top: 0;
    height: 52px;
    z-index: 9999999;
    width: 120px;
    right: 0px;
  }

  #user-dropdown {
    position: fixed;
    top: 52px;
    right: 0px;
    width: 258px !important;
    background-color: #0f0f0f;
    z-index: 99999;
    display: block;
    border-left: 2px solid #262626;
    border-bottom: 2px solid #262626;

    .inner-drop{
      padding-left: 1.5rem;
      background-color: #0f0f0f;

      ul{
        list-style: none;
        float: left;
        margin-left: 0 !important;
        padding-left: 0 !important;

        li{
          margin: 18px 0;

          a{
            color: #c9aa71;
            font-size: 18px;
            font-family: "Beaufort", "Segoe UI", Helvetica, sans-serif !important;
            text-transform: uppercase;
            font-weight: bold !important;
            @include transition(color 2s cubic-bezier(0.06, 0.81, 0, 0.98) !important); 
            

            &::after{
              content: "◀";
              position: relative;
              margin-left: 20px;
              opacity: 0;
              @include transition(all .35s linear !important); 
            }

            &:hover{
              color: white !important;

              &::after{
                opacity: 1;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .navbar-brand{
    margin-right: 5px!important;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .navbar-brand{
    margin-right: 5px!important;
  }

  .hidden-lg-up{
    display: block!important;

    div {
      float: right;
    }
  }
}

.sidemodal{
  .modal-dialog{
    position: fixed;
    height: 100%;
    margin: 0px;
    width: 66%;
    margin: 0 !important;


    .modal-content{
      padding: 0px;
      height: 100%;
      background-color: #111111;

      .modal-header{
        height: 10vh;
        position: relative;
        padding: 0;
        background-image: url(../media/image/index/old_grunge_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }

      .modal-body{
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding: 0;
        overflow-y: auto;

        .navbar-nav{
          .nav-item{
            padding: 1em 1.5em;
            border-bottom: 1px solid rgba(255, 255, 255, 0.144);
            -webkit-transition: all .2s;
            transition: all .2s;

            .nav-link{
              color: #e8d8b2 !important;
            }

            a{
              color: #e8d8b2 !important;
            }
          }
        }
      }

      .modal-footer{
        height: 10vh;
        background-image: url(../media/image/index/old_grunge_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding: 0;
        overflow: hidden;

        p{
          margin-left: auto;
          margin-right: auto;
          color: #e8d8b2;
        }
      }
    }
    .full-item{
      position: relative;

      .dropdownarrow{
        color: #e8d8b2 !important;
        font-size: 12px;
        float: right;
        margin-right: 12px;
      }
    }
  }

  .closebtn{
    position: absolute;
    right: 12px;
    top: -15px;

    span{
      color: #c5a76f;
      font-size: 50px;
      float: right;
      margin-left: auto;
    }
  }
}

#exampleModal{
  .modal-dialog{
    right: 0px!important;
  }
}