#contactboard {
  .donate-icon {
    &::after {
      background: url("/media/icon/donation.svg") no-repeat;
      background-size: contain;
    }
  }

  .history-icon {
    &::after {
      background: url("/media/icon/receipt.svg") no-repeat;
      background-size: contain;
    }
  }

  .redeem-icon {
    &::after {
      background: url("/media/icon/redeem.svg") no-repeat;
      background-size: contain;
    }
  }

  .money-icon {
    &::after {
      background: url("/media/icon/money.svg") no-repeat;
      background-size: contain;
    }
  }

  .paypal-icon {
    &::after {
      background: url("/media/logo/paypal.svg") no-repeat;
      background-size: contain;
    }
  }
}

.donateboard {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .selection .item-anchor .item-inner .item-title {
    margin-bottom: 60px !important;
  }

  .selection .payment-option .item-inner .item-title {
    margin-bottom: 10px !important;
  }

  .container {
    margin-bottom: 5rem;
  }

  .item-title {
    color: $text-color;
  }

  .bonus-dp {
    color: #ffba2f;
  }

  #paypal{
      .paypal-logo{
          padding-left: 0;
          padding-bottom: 1rem;
          margin-top: 10px;
      }
  }
  
  //http://i76.imgup.net/accepted_c22e0.png

  #egc{
    #redeem-link{
        margin-bottom: 0.5rem !important;
        position: relative !important;
        top: -2px !important;
    }

    .btn-primary{
        line-height: 35px;
    }
}

#redeem{
    #egc-link{
      margin-bottom: 0.5rem !important;
      position: relative !important;
      top: -2px !important;
  }
}

  .payment-tab {
    //max-width: 400px;
    margin-top: 2rem;
    text-align: left;

    // #262626

    .nav-link{
        border: none !important;
    }

    .tab-pane{
        box-shadow: 0 0 16px 14px rgba(0, 0, 0, 0.2) !important;
    }

    .nav-tabs .nav-link {
      border: none !important;
      border: 1px solid transparent;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      border: none !important;
    }

    .btn-primary {
      background-color: #262626 !important;
      border: none !important;
      color: $primary-color;
      height: 50px;
      font-size: 19px;
      font-weight: bold;
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2) !important;
    }

    .input-group-text {
      background-color: #262626 !important;
      border: 1px solid #444951 !important;
    }

    .card {
      background-color: #1e1e1e;
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2) !important;
    }
  }
}
